/*#startButton {*/
    /*-fx-background-color: #97ef5d;*/
    /*-fx-border-color: #1f3314;*/
/*}*/

/*#mainPanel {*/
    /*-fx-background-color: #2b2b2b;*/
/*}*/

/*.label, .check-box {*/
    /*-fx-text-fill: #ececec;*/
/*}*/

#infoScrollPane {
    -fx-background: #2b2b2b;
    -fx-border-color: #7d7d7d;
}

/*#infoScrollPane  > .viewport {*/
    /*-fx-background-color: transparent;*/
/*}*/

#infoPanel {
    -fx-text-fill: #cba89f;
}